body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.not-found-container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #ea872c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffa54f;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
