button {
  padding: 10px 15px;
  background-color: #ea872c;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ffa54f;
}

button:nth-of-type(1) {
  margin-right: 10px;
}

button:nth-of-type(2) {
  margin-left: 10px;
}

.details {
  display: flex;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10pt;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d9eb1;
}

.features {
  font-size: 10pt;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.price {
  font-size: 12pt;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

.booking {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image {
  width: 200px;
  height: 150px;
}

.card {
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: #fdf5e5;
  width: 300px;
  height: 500px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading1 {
  text-align: center;
  color: white;
}

.heading1 h1 {
  font-size: 36px;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.first_screen button {
  font-size: 18px;
  margin: 0 10px;
}

.heading2 {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
}

.tours {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 20px;
}

.image img {
  width: 100%;
}

.features {
  margin-top: 10px;
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.features li {
  margin-bottom: 5px;
}

.price {
  font-size: 20px;
  margin-bottom: 10px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
}
