* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
input {
  outline: none;
}

.details {
  display: flex;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10pt;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d9eb1;
}

.features {
  font-size: 10pt;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.price {
  font-size: 12pt;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

.booking {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image {
  width: 200px;
  height: 150px;
}

.Card {
  display: flex;
  flex-direction: column;
  background-color: #fdf5e5;
  height: auto;
  align-items: center;
}

.first_screen {
  background-image: url("/src/assets/images/first_page.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first_screen .first_image img {
  display: none;
}

.heading1 {
  text-align: center;
  color: white;
}

.first_screen button {
  margin-top: 20px;
}

.first_screen {
  background-image: url("/src/assets/images/first_page.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading1 h1 {
  font-size: 36px;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.first_screen button {
  font-size: 18px;
  margin: 0 10px;
}

.heading2 {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
}

.image img {
  width: 100%;
}

.features {
  margin-top: 10px;
}

.features li {
  margin-bottom: 5px;
}

.price {
  font-size: 20px;
  margin-bottom: 10px;
}

.background-image {
  background-image: url("/src/assets/images/first_page.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
}

button.cartBin {
  position: fixed;
  bottom: 60px;
  right: 50px;
  width: fit-content;
  height: 50px;
  display: flex;
  background-color: #fdf5e5;
  color: #1d9eb1;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 30px;
  font-family: 700;
}
.cartBin + svg {
  z-index: 90;
  color: #1d9eb1;
}

button:hover {
  background-color: #ffa54f;
}
